name: Upwork Sniper

on:
  schedule:
    - cron: '*/12 * * * *'
  workflow_dispatch:

jobs:
  run-sniper:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          
      - name: Install libraries
        run: pip install -r requirements.txt
        
      - name: Run Sniper Script
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python sniper.py
